@using CriticWeb.Models.ContentCriticViewModels
@model CriticWeb.Models.AdminViewModels.ReviewsChekingViewModel
@{
    ViewBag.Title = "Перевірка відгуків";
}

@section scripts{
    <script>
        $(document).ready(pageDocReady('@Model.PaginationId'));
        pageWork('@Model.PaginationId', @(Model.UncheckedReviews != null && Math.Ceiling((double)Model.UncheckedReviews.Length / 10) != 1 ? Math.Ceiling((double)Model.UncheckedReviews.Length / 10) : 0));
    </script>
}

<div class="panel panel-default">
    <div class="panel-heading"><h4>Неперевірені відгуки користувачів</h4></div>
    <div class="panel-body">@Html.Partial("_AllReviewsPartialView", new AllReviewsViewModel(Model.UncheckedReviews, Model.PaginationId))</div>
</div>


