@using CriticWeb.Models.ContentCriticViewModels
@model CriticWeb.Models.AdminViewModels.ReviewsChekingViewModel
@{
    ViewBag.Title = "Перевірка відгуків";
}

@section scripts{
    <script>
        $(document).ready(function () {
            $('div[id^=page-]').hide();
            $('div[id=page-1]').show();
        });
        $('.' + '@Model.PaginationId').bootpag({
            total: @Math.Ceiling((double)Model.UncheckedReviews.Length/10),
            page: 1,
            maxVisible: 10
        }).on('page', function (event, num) {
            $('div[id^=page-]').hide();
            $('div[id=page-' + num + ']').show();
        });
    </script>
}

<div class="panel panel-default">
    <div class="panel-heading"><h4>Неперевірені відгуки користувачів</h4></div>
    <div class="panel-body">@Html.Partial("_AllReviewsPartialView", new AllReviewsViewModel(Model.UncheckedReviews, Model.PaginationId))</div>
</div>


