@{
    ViewBag.Title = "Сторінка не знайдена!";
}

<div class="text-center">
    <h2 class="text-danger">Сторінка не знайдена</h2>
    <img style="border-radius:4px;" src="http://welldostudio.com/uploads/media/news/0001/01/thumb_601_news_preview_big.jpeg" />
</div>


