@model CriticWeb.Models.Data.PerformerVM

<div class="thumbnail">
    <a href="#"><h4 class="name-actor-on-main-page">Леонардо ДіКапріо</h4></a>
    <hr />
    <div class="row">
        <div class="actor-on-main-page">
            <div class="col-md-6">
                <img src="http://s.pikabu.ru/post_img/2013/08/25/8/1377431558_1153601876.jpg" />
            </div>
            <div class="col-md-6">
                <h5>Середня оцінка:</h5>
                <h4 class="point-actor-green">63</h4>
                <h5> Останні три фільми:</h5>
                <div class="row">
                    <div class="col-md-3">
                        <h5 class="point-entertainment-green">76</h5>
                    </div>
                    <div class="col-md-9">
                        <a href="#"><h5>Легенда Г'ю Гласса</h5></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h5 class="point-entertainment-green">95</h5>
                    </div>
                    <div class="col-md-9">
                        <a href="#"><h5>Virunga</h5></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h5 class="point-entertainment-green">75</h5>
                    </div>
                    <div class="col-md-9">
                        <a href="#"><h5>Вовк з Уолл-стріт</h5></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
