@model CriticWeb.Models.ContentCriticViewModels.UserProfileViewModel
@{
    ViewBag.Title = Model.user.Username;
}

<div class="panel panel-default">
    <div class="panel-heading"><h4>Профіль корисувача</h4></div>
    <div class="panel-body">

    </div>
</div>

