/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.sidenav {
        padding-top: 20px;
        background-color: #f1f1f1;
        /*height: 300vh;*/
        border-radius: 8px;
}

footer {
        background-color: #555;
        color: white;
        padding: 15px;
        border-radius: 4px;
}

body {
        background-color: #FAFAFA;
}

a .thumbnail:hover {
    background-color: #f1f1f1;
    
}

a:hover {
    text-decoration:none;
    color: #000247;
    text-shadow:initial;
}

a:visited {
    text-decoration:none;
    color: none;
}

.point-entertainment-green {
    background-color: green;
    border-radius: 10px;
    width: 40px;
    color: white;
    text-align: center;
}

.point-entertainment-yellow {
    background-color: #FFC400;
    border-radius: 10px;
    width: 40px;
    color: white;
    text-align: center;
}

.point-entertainment-red {
    background-color: red;
    border-radius: 10px;
    width: 40px;
    color: white;
    text-align: center;
}

.point-actor-green {
    color: green;
}

.point-actor-yellow {
    color: #FFC400;
}

.point-actor-red {
    color: red;
}

.point-performer-or-entertainment-green {
    background-color: green;
    border-radius: 100px;
    color: white;
    text-align: center;
    font-size: x-large;
    width: 40px;
}

.point-performer-or-entertainment-yellow {
    background-color: #FFC400;
    border-radius: 100px;
    color: white;
    text-align: center;
    font-size: x-large;
    width: 40px;    
}

.point-performer-or-entertainment-red {
    background-color: red;
    border-radius: 100px;
    color: white;
    text-align: center;   
    font-size: x-large;
    width: 40px;
}

.point-performer-or-entertainment-not-available {
    font-size: x-large;
}

.point-table-green {
    background-color: green;
    border-radius: 100px;
    color: white;
    text-align: center;
    font-size: x-large;
    width: 40px;
}

.point-table-yellow {
    background-color: #FFC400;
    border-radius: 100px;
    color: white;
    text-align: center;
    font-size: x-large;
    width: 40px;    
}

.point-table-red {
    background-color: red;
    border-radius: 100px;
    color: white;
    text-align: center;   
    font-size: x-large;
    width: 40px;
}

.point-table-not-available {
    font-size: x-large;
}

.entertainment-mini-img-on-main-page {
    border-radius: 4px;
    height: 230px;
} 

.name-entertainment-on-main-page{
    height:70px;
}

.actor-on-main-page{
    height: 250px;
}

.actor-on-main-page img{
    max-width: 200px;
}

.thumbnail img {
    border-radius: 4px;
    height: 230px;
} 

.avatar
{
    height: 50px;
    width: 50px;
    border-radius: 100px;
}

.poster {
    max-height: 350px;
    max-width: 250px;
    border-radius: 4px;
}

.table-poster{
    height: 50px;
    width: 40px;
    border-radius: 3px;
}

.round-photo{
    height: 50px;
    width: 40px;
    border-radius: 100px;
}

.round-award{
    height: 70px;
    width: 60px;
    border-radius: 100px;
}

#summary p {
    text-align: left;
}

iframe {
    border-radius: 8px;
}

.tooltipHTML {
    display:none;
}

.tooltip-img{
    border-radius: 4px;
    max-height: 180px;
    max-width: 100px;
}

.performer-or-entertainment-block-img {
    border-radius: 4px;
    max-height: 130px;
    max-width: 100px;
}